*{
    margin:0 ;
    padding: 0;
    
}


.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
   
    

   
  }








#heading-parent{
    background-image: url(/styles/assets/Hero-bg.png);
    /* background-image: url(/styles/assets/Group.png); */
    
    height: 652px; ;
    width: 1500px; ;
    text-align: center;
   margin: 0px auto;
   display:block ;
 
 
   /* justify-content: center; */
}
.title{
   width: 1440px;
   margin-top: 0px ;
   margin-bottom: 140px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   border-radius: 50px;

    padding-top: 320px;
   padding-left: 80px;
   padding-right: 300px;
  
    font-size: 48px;
   
}

 .subtitle{
    margin-top: 60px;
    margin-bottom: 8px;
    text-align:center;
    border: 100px;
    font-weight: 700;
    
}

/* button styles */

.btn-div{
    padding-top: 25px ;
}



.btn{
     background-color: #0D1321;
     height: 48px;
     width: 120px;
     border-radius: 10px;
     padding-top: ;

}

.btn-discription{
    color: #FFFFFF;

}